@import "_config";

.attachment-form {
  width: 60%;
  margin: 40px auto;
  display: grid;
  justify-content: center;

  @include mobile {
    margin: 60px auto;
  }

  

  input[type="text"],
  input[type="date"] {
    float: right;
    margin: 0 0 30px 40px;
    width: 300px;

    @include mobile {
      //width: 80%;
      margin: 10px 0;
    }
  }
}

.lab-order-form {
  display: grid;
  justify-content: center;
  .tests {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;

    @include mobile {
      grid-template-columns: repeat(2, 1fr)
    }
  }
  @include mobile {
    margin-top: 40px;
  }
}

h2 {
  text-align: center;
}
