@import "_config";

.new-document {
  width: 65%;
  margin: 0 auto;

  @include mobile {
    margin-top: 50px;
  }

  @include mobile {
    width: 90%;
  }

  input {
    width: 350px;
    margin: 0 20px 10px 30px;

    float: right;

    @include mobile {
      margin: 10px 0;
      width: 100%;
    }
  }
  input[type="submit"] {
    width: 350px;
    margin: 5px auto;
  }

  label {
    width: 100%;
  }

  select {
    margin: 0 20px 10px 0;
    float: right;

    width: 360px;

    @include mobile {
      margin: 10px 0;
      display: block;
      width: 100%;
    }
  }

  .referrals {
    float: right;
    margin: 2px 20px 10px 20px;
    width: 360px;
    @include mobile {
      width: 100%;
      margin: 10px auto;
    }
  }

  textarea {
    margin: 0 20px 10px 0;

    width: 355px;
    height: 50px;
    float: right;
    @include mobile {
      margin: 10px 0;
      width: 100%;
    }
  }
  .document-form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
