@import "_config";

.new-document {
  width: 60%;
  margin: 0 auto;

  @include mobile {
    margin-top: 50px;
  }

  @include mobile {
    width: 90%;
  }

  input {
    width: 300px;
    margin: 0 20px 10px 30px;

    float: right;

    @include mobile {
      margin: 10px 0;
      width: 100%;
    }
  }
  input[type="submit"] {
    width: 300px;
    margin: 0 auto;
  }

  select {
    margin: 0 0 10px 0;
    margin-left: 110px;
    width: 310px;

    @include mobile {
      margin: 10px 0;
      display: block;
      width: 100%;
    }
  }

  .referrals{
    float: right;
    margin: 2px 20px 10px 20px;
    width: 315px;
  }

  textarea {
    margin: 0 20px 20px 0;

    width: 310px;
    height: 80px;
    float: right;
    @include mobile {
      margin: 10px 0;
      width: 100%;
    }
  }
  .document-form {
    display: flex;
    flex-direction: column;
  }
}
