@import "_config";

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .attachment-button {
    width: 150px;
    margin: 10px;
  }

  .attachments-info {
    margin-bottom: 0;

    a {
      text-decoration: underline;
      margin: 10px;
    }
  }

  .submit-button {
    margin: 0;
  }

  .attachments-choice {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;

      .attachment-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  form {
    @include mobile {
      margin-top: 40px;
    }
    display: grid;
    width: 50%;
    border: 1px solid black;
    padding: 10px;

    @include mobile {
      width: 100%;
    }

    label {
      width: 100%;
      float: right;

      input {
        float: right;
        margin: 0 0 15px 0;
        width: 300px;

        @include mobile {
          width: 80%;
        }
      }

      textarea {
        width: 310px;
        float: right;
        margin: 0;
        height: 70px;
        @include mobile {
          width: 80%;
        }
      }
    }
    input {
      margin-bottom: 10px;
    }
  }
}
