.lab-container {
  text-align: center;
  width: 70%;
  margin: 10px auto !important;
  height: 75vh;
  overflow: auto;
  
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
   
    width: 60%;
    margin: 0 auto;

   
    .mainLabel {
      
      margin-right: 150px;
      

      input[type="text"], input[type="datetime-local"] {
        width: 150px;
        margin-top: 4px;
       
      }
      select {
        width: 162px;
        margin-top: 4px;
      }
    }

    .inner-from {
     
      label {
        
        input[type="text"], select {
          width: 150px;
          margin-top: 4px;
         
        }
      }
       
      }
    }
  }

  .table {
    width: 90%;

    margin: 0 auto;

    table {
      width: 70%;
      text-align: left;
      margin: auto;

      td {
        margin: 10px;
      }
    }
  }

