.documentation-container button {
  margin: 30px 40%;
}

.documentation-container .documents {
  height: 41vh;
  text-align: left;
  overflow-y: auto;
}

.documentation-container .filterForm {
  margin: 20px 0 0 20px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-wrap: nowrap;
}

.documentation-container .filterForm input, .documentation-container .filterForm select {
  margin: 0 10px;
  width: 120px;
}

.documentation-container ul {
  margin-top: 40px;
  padding-left: 0;
}

.documentation-container ul li {
  margin: 20px;
}
