.lab-container {
  text-align: center;
  width: 70%;
  margin: 10px auto !important;
  height: 75vh;
}

.lab-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

.lab-container form .inner-form input[type="text"], .lab-container form .inner-form input[type="date"], .lab-container form .inner-form select,
.lab-container form label input[type="text"],
.lab-container form label input[type="date"],
.lab-container form label select {
  width: 150px;
  margin-top: 4px;
}

.lab-container .table {
  width: 90%;
  margin: 0 auto;
}

.lab-container .table table {
  width: 70%;
  text-align: left;
  margin: auto;
}

.lab-container .table table td {
  margin: 10px;
}
