.medical-process-container .set-done,
.medical-process-container .edit {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #646464;
  margin: 0 0 0 10px;
  padding: 0;
  color: white;
  font-size: 14px;
}

.medical-process-container .content {
  overflow-y: auto;
  height: 50vh;
}

.medical-process-container form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.medical-process-container form input,
.medical-process-container form select {
  margin: 20px 5px 10px 5px;
  flex: 2 1 250px;
}

.medical-process-container form textarea {
  margin: 30px 10px 0 10px;
  height: 50px;
  flex: 2 1 300px;
}

.medical-process-container ul {
  list-style: none;
  padding-left: 0;
}

.medical-process-container ul li {
  margin-bottom: 30px;
}
