.medical-process-container * {
  box-sizing: border-box;
}

@media screen and (max-width: 470px) {
  .medical-process-container {
    margin-top: 15px !important;
  }
}

.medical-process-container .change-view {
  margin: auto;
  display: block;
  width: 300px;
}

.medical-process-container .change-view input[type="radio"] {
  visibility: hidden;
}

.medical-process-container .change-view label {
  cursor: pointer;
  padding: 7px 13px;
  margin: 0;
  background: #b9b9b9;
}

.medical-process-container .change-view label.tasks-label {
  border-radius: 15px 0 0 15px;
  margin-right: -26px;
}

.medical-process-container .change-view label.process-label {
  border-radius: 0 15px 15px 0;
  margin-left: -26px;
}

.medical-process-container .change-view input[type="radio"]:checked + label {
  background: #e4ab6a;
  border: 1px solid #777;
}

.medical-process-container .set-done,
.medical-process-container .edit {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #646464;
  margin: 0 0 0 10px;
  padding: 0;
  color: white;
  font-size: 14px;
}

.medical-process-container .edit {
  background: url("../img/edit.png");
  background-size: cover;
  background-color: #646464;
}

.medical-process-container .content {
  overflow-y: auto;
  height: 45vh;
  padding-right: 10px;
}

@media screen and (max-width: 470px) {
  .medical-process-container .content {
    padding: 15px;
    overflow-y: visible;
    height: auto;
  }
}

.medical-process-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 470px) {
  .medical-process-container form {
    flex-direction: column;
    height: 250px;
    margin-top: 15px;
  }
  .medical-process-container form p {
    display: none;
  }
}

.medical-process-container form span {
  height: 30px;
  display: flex;
  align-content: center;
  margin: 5px;
}

.medical-process-container form input,
.medical-process-container form select {
  margin: 0 5px 10px 5px;
  width: 180px;
  height: 30px;
}

@media screen and (max-width: 470px) {
  .medical-process-container form input,
  .medical-process-container form select {
    width: 80%;
    margin-top: 5px;
  }
}

.medical-process-container form input.preceding-document,
.medical-process-container form select.preceding-document {
  width: 200px;
}

.medical-process-container form input[type="datetime-local"] {
  width: 190px;
}

.medical-process-container form .previous-task {
  width: 250px;
}

.medical-process-container form textarea {
  height: 30px;
  width: 400px;
}

@media screen and (max-width: 470px) {
  .medical-process-container form textarea {
    width: 80%;
    margin: 5px auto 10px auto;
  }
}

.medical-process-container ul {
  list-style: none;
  padding-left: 0;
}

.medical-process-container ul li {
  margin-bottom: 30px;
}

.medical-process-container ul li i {
  font-size: 0.85em;
}

.medical-process-container ul li .task-header {
  display: flex;
}

.medical-process-container ul li .task-info {
  display: flex;
  justify-content: space-between;
}

.medical-process-container ul li .task-info p {
  margin: 5px 0;
}

@media screen and (max-width: 470px) {
  .medical-process-container ul li .task-info {
    flex-direction: column;
  }
}

.medical-process-container ul li .previous-task-label select {
  margin: 0 10px;
}

.medical-process-container ul li input {
  margin: 5px 0;
}

@media screen and (max-width: 470px) {
  .medical-process-container ul li input {
    width: 100%;
  }
}

.medical-process-container ul li #title {
  width: 300px;
}

@media screen and (max-width: 470px) {
  .medical-process-container ul li #title {
    width: 100%;
  }
}

.medical-process-container ul li #details {
  width: 500px;
}

@media screen and (max-width: 470px) {
  .medical-process-container ul li #details {
    width: 100%;
  }
}

.medical-process-container .process-view {
  overflow-y: auto;
  height: 50vh;
}

.medical-process-container .process-view .process-task {
  margin: 10px;
  border: 1px solid grey;
  width: 50%;
  padding: 10px;
}

.medical-process-container .process-view .process-task p,
.medical-process-container .process-view .process-task h4 {
  margin: 5px;
}
