.attachment-form {
  width: 60%;
  margin: 40px auto;
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 470px) {
  .attachment-form {
    margin: 60px auto;
  }
}

.attachment-form input[type="text"],
.attachment-form input[type="date"] {
  float: right;
  margin: 0 0 30px 40px;
  width: 300px;
}

@media screen and (max-width: 470px) {
  .attachment-form input[type="text"],
  .attachment-form input[type="date"] {
    margin: 10px 0;
  }
}

.lab-order-form {
  display: grid;
  justify-content: center;
}

.lab-order-form input {
  margin: 15px;
}

.lab-order-form .date-label {
  width: 220px;
  margin: 0 auto;
}

.lab-order-form .tests {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}

@media screen and (max-width: 470px) {
  .lab-order-form .tests {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 470px) {
  .lab-order-form {
    margin-top: 40px;
  }
}

h2 {
  text-align: center;
}
