.new-document {
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 590px) {
  .new-document {
    margin-top: 50px;
  }
}

@media screen and (max-width: 590px) {
  .new-document {
    width: 90%;
  }
}

.new-document input {
  width: 350px;
  margin: 0 20px 10px 30px;
  float: right;
}

@media screen and (max-width: 590px) {
  .new-document input {
    margin: 10px 0;
    width: 100%;
  }
}

.new-document input[type="submit"] {
  width: 350px;
  margin: 5px auto;
}

.new-document label {
  width: 100%;
}

.new-document select {
  margin: 0 20px 10px 0;
  float: right;
  width: 360px;
}

@media screen and (max-width: 590px) {
  .new-document select {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}

.new-document .referrals {
  float: right;
  margin: 2px 20px 10px 20px;
  width: 360px;
}

@media screen and (max-width: 590px) {
  .new-document .referrals {
    width: 100%;
    margin: 10px auto;
  }
}

.new-document textarea {
  margin: 0 20px 10px 0;
  width: 355px;
  height: 50px;
  float: right;
}

@media screen and (max-width: 590px) {
  .new-document textarea {
    margin: 10px 0;
    width: 100%;
  }
}

.new-document .document-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
