.new-document {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 470px) {
  .new-document {
    margin-top: 50px;
  }
}

@media screen and (max-width: 470px) {
  .new-document {
    width: 90%;
  }
}

.new-document input {
  width: 300px;
  margin: 0 20px 10px 30px;
  float: right;
}

@media screen and (max-width: 470px) {
  .new-document input {
    margin: 10px 0;
    width: 100%;
  }
}

.new-document input[type="submit"] {
  width: 300px;
  margin: 0 auto;
}

.new-document select {
  margin: 0 0 10px 0;
  margin-left: 110px;
  width: 310px;
}

@media screen and (max-width: 470px) {
  .new-document select {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
}

.new-document .referrals {
  float: right;
  margin: 2px 20px 10px 20px;
  width: 315px;
}

.new-document textarea {
  margin: 0 20px 20px 0;
  width: 310px;
  height: 80px;
  float: right;
}

@media screen and (max-width: 470px) {
  .new-document textarea {
    margin: 10px 0;
    width: 100%;
  }
}

.new-document .document-form {
  display: flex;
  flex-direction: column;
}
