.report-content {
  width: 70%;
  margin: auto;
  text-align: center;
}

@media screen and (max-width: 590px) {
  .report-content {
    width: 95%;
  }
}

.report-content select {
  margin-bottom: 0;
}

.report-content table {
  border-collapse: collapse;
  border: 2px solid black;
}

.report-content table td {
  padding: 10px 7px;
  width: 250px;
  text-align: center;
}
