.raport-content {
  width: 90%;
  margin: auto;
  text-align: center;
}

.raport-content table {
  border-collapse: collapse;
  border: 2px solid black;
}

.raport-content table td {
  padding: 10px 7px;
  width: 250px;
  text-align: center;
}
