.side-bar {
  position: absolute;
  top: 90px;
  right: 0;
  width: 18%;
  height: 100vh;
  background: #c9c9c9;
  padding: 15px 20px;
}

@media screen and (max-width: 470px) {
  .side-bar {
    width: 100%;
    height: auto;
    position: static;
  }
}

.side-bar h3 {
  margin: 10px 0 10px 0;
}

.side-bar button {
  display: block;
}

.side-bar ul {
  list-style: none;
  padding-left: 0;
}

.side-bar ul input {
  margin: 10px;
}

.side-bar form {
  display: flex;
  flex-direction: column;
}

.side-bar form input {
  margin: 10px auto;
  width: 200px;
}

.side-bar table {
  width: 100%;
}

.side-bar table td {
  width: 50%;
  padding: 4px;
}

.side-bar table td p {
  margin: 0;
}

.side-bar table td input {
  margin: 0;
  width: 100px;
}
