$header-height: 90px;
$container-color: rgb(228, 220, 196);
$second-color: rgb(146, 146, 146);
$accent-color: rgb(228, 171, 106);
$mobile-breakpoint: 590px;

@mixin mobile {
  @media screen and (max-width: $mobile-breakpoint) {
    @content;
  }
}
