@import "_config";

.medical-process-container {
  @include mobile {
    margin-top: 15px !important;
  }

  .set-done,
  .edit {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: rgb(100, 100, 100);
    margin: 0 0 0 10px;
    padding: 0;
    color: white;
    font-size: 14px;
  }

  .content {
    overflow-y: auto;
    height: 50vh;

    @include mobile {
      padding: 15px;
      overflow-y: visible;
      height: auto;
    }
  }

  form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    @include mobile {
      flex-direction: column;
      height: 250px;
      margin-top: 15px;
      p {
        display: none;
      }
    }
    input,
    select {
      margin: 20px 5px 10px 5px;
      flex: 2 1 250px;
      @include mobile {
        width: 80%;
        margin-top: 5px;
      }
    }

    textarea {
      margin: 30px 10px 0 10px;
      height: 50px;
      flex: 2 1 300px;
      @include mobile {
        width: 80%;
        margin: 5px auto 10px auto;
      }
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      margin-bottom: 30px;

      i {
        font-size: 0.85em;
      }

      .task-header {
        display: flex;
      }

      .task-info {
        display: flex;
        justify-content: space-between;
        p {
          margin: 5px 0;
        }

        @include mobile {
          flex-direction: column;
        }
      }
      input {
        margin: 5px 0;

        @include mobile {
          width: 100%;
        }
      }

      #title {
        width: 300px;
      }

      #details {
        width: 500px;

        @include mobile {
          width: 100%;
        }
      }
    }
  }
}
