@import "_config";
nav {
  margin: 40px 40px 0px 6%;

  @include mobile {
    margin: 25px 0 0 0;
  }

  a {
    border: 1px solid rgb(150, 150, 150);

    background: rgb(170, 170, 170);
    padding: 20px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    color: black;
    @include mobile {
      padding: 20px 3px 20px 3px;
    }

    &.active {
      background: $container-color;
      border: 1px solid $container-color;
    }
  }
}

.ID-form {
  position: absolute;
  top: 10px;
  left: 30%;

  @include mobile {
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    input {
      width: 150px;
      margin: 20px 10px;
     
    }
  }
}
