@import "_config";

.recommendations-container {
  display: flex;
  flex-direction: column;

  @include mobile {
    margin-top: 15px;
  }

  .content {
    //height: 50vh;
    overflow-y: auto;

    @include mobile {
      height: 100%;
    }
  }

  button {
    display: block;
    margin: 10px auto;
    width: 200px;

    @include mobile {
      margin: 20px auto;

      width: 300px;
    }
  }

  .attached-documents {
  

    .attachment-button {
      margin: 10px;
      color: white;
      text-decoration: underline;
      background: none;
      display: inline-block;
      
     
      
    }
    
  }
}

.recommendation {
  padding: 10px 30px;
  background: rgb(131, 131, 131);
  text-align: left;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 2px #333;
  width: 60%;
  margin: 5px auto 20px auto;

  @include mobile {
    width: 90%;
  }
}
