.recommendations-container {
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: 10px;
  }

  a {
    margin: 10px auto;
    width: 200px;
  }
}

.recommendation {
  padding: 10px 30px;
  background: rgb(131, 131, 131);
  text-align: left;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 2px #333;
  width: 60%;
  margin: 5px auto 20px auto;
}

