$header-height: 90px;

.side-bar {
  position: absolute;
  top: $header-height;
  right: 0;
  width: 18%;
  height: 100vh;
  background: rgb(201, 201, 201);
  padding: 15px 20px;

  h3 {
    margin: 10px 0 10px 0;
  }

  button {
    display: block;
  }

  ul {
    list-style: none;
    padding-left: 0;

    input {
      margin: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px auto;
      width: 200px;
    }
  }

  table {
    width: 100%;
    td {
      width: 50%;
      padding: 4px;

      p {
        margin: 0;
      }

      input {
        margin: 0;
        width: 100px;
      }
    }
  }
}
