$header-height: 100px;

.side-bar {
  position: absolute;
  top: $header-height;
  right: 0;
  width: 18%;
  height: 100vh;
  background: rgb(201, 201, 201);
  padding: 20px;

  button {
    display: block;
  }

  ul {
    list-style: none;
    padding-left: 0;

    input {
      margin: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    input {
      margin: 10px auto;
      width: 200px;
    }
  }

  table {
    td {
      width: 50%;
      padding: 4px;
    }
  }
}
