@import "_config";

body {
  font-size: 0.9em;
}
header {
  background: $second-color;
  height: $header-height;
  width: 100%;
  position: relative;

  @include mobile {
    height: 130px;
  }

  .radio-buttons {
    padding: 25px;
    @include mobile {
      display: none;
    }
  }

  .log-out {
    position: absolute;
    top: 12px;
    right: 10px;
    margin: 15px;
    @include mobile {
      right: 6%;
    }
  }
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

input,
select {
  margin: 20px;
  padding: 5px;
}

.container {
  background: $container-color;
  width: 60%;
  height: 65vh;
  margin: 15px 6%;
  border-radius: 0 10px 10px 10px;
  padding: 20px 50px;
  box-shadow: 5px 5px 5px rgb(88, 88, 88);
  position: relative;
}

button,
input[type="submit"] {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px 5px;
  //background: rgb(45, 54, 105);
  background: $accent-color;
  color: black;
  font-size: 0.9em;

  width: 200px;
  margin: 20px auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: rgb(235, 154, 78);
  }
}

.login-container {
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  height: 75vh;
  border-radius: 10px;
  background: $container-color;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 50px;
  box-shadow: 5px 5px 5px rgb(88, 88, 88);
  position: relative;

  @include mobile {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin: 0;
    box-shadow: none;
    padding: 5px;
  }

  @include mobile {
    padding: 0;
  }

  #login-info {
    margin: 5px 0 0 0;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 50px auto;
    margin-bottom: 10px;

    @include mobile {
      width: 100%;
      margin: 0;
    }
  }
  button {
    margin-top: 0;
  }
}
.register-container {
  margin: 15px auto;
  height: 85vh;
  border-radius: 10px;
  background: $container-color;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 50px;
  box-shadow: 5px 5px 5px rgb(88, 88, 88);
  position: relative;

  .backButton {
    @include mobile {
      margin-top: 5px;
      right: 6%;
    }
  }

  @include mobile {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin: 0;
    box-shadow: none;

    padding: 50px 5px 5px 5px;
  }

  p,
  h2 {
    text-align: center;
  }

  form {
    display: grid;
    width: 50%;
    margin: auto;

    @include mobile {
      width: 100%;
    }

    span {
      padding: 7px;
      height: 40px;

      input[type="date"] {
        margin-top: -2px;
      }

      input,
      select {
        float: right;
        width: 200px;
        margin-top: 0;

        @include mobile {
          margin-right: 10px;
        }
      }

      select {
        width: 210px;
        @include mobile {
          width: 200px;
        }
      }
    }
  }

  .content {
    overflow-y: auto;
  }

  .backButton {
    position: absolute;
    top: 2%;
    left: 30px;
  }
}
@include mobile {
  * {
    box-sizing: border-box;
  }
  .container {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    border-radius: 0;
    margin: 15px 0 0 0;
    box-shadow: none;
    padding: 5px;
  }

  button,
  input[type="submit"] {
    width: 300px;
    display: block;
  }

  .backButton {
    width: 300px;
    display: block;
    margin: 10px auto;
  }
}
